@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to right, #f0e9ed, #fff)
}

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.group:hover .hover-line {
  transform: scaleX(1);
}

.group .hover-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #3498db; /* Adjust the color as needed */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.group .hover-line::before,
.group .hover-line::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: inherit;
}



/* ============= NavLink active End here ================ */
